<h3 style="margin-bottom: 20px;" class="col-md-12">{{title_page}}</h3>
<form #postNew="ngForm" (ngSubmit)="onSubmit(postNew); postNew.reset();" class="col-md-7">
  <div class="alert alert-success" *ngIf="status == 'success'">
    El registro se ha completado correctamente
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    El registro no se ha completado correctamente
  </div>
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" name="title" placeholder="título del artículo" #title="ngModel" [(ngModel)]="post.title" required>
    <div *ngIf="!title.valid && title.touched" class="invalid-feedback" style="display: block;">
      El título es obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="user">Usuario</label>
    <select class="form-control" name="userId" #user="ngModel" [(ngModel)]="post.userId" required>
      <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="body">Contenido del artículo</label>
    <textarea class="form-control" name="body" #body="ngModel" [(ngModel)]="post.body" required></textarea>
    <div *ngIf="!body.valid && body.touched" class="invalid-feedback" style="display: block;">
      El campo es obligatorio
    </div>
  </div>
  <input *ngIf="!is_edit" type="submit" value="Crear Artículo" class="btn btn-success" [disabled]="!postNew.form.valid">
  <input *ngIf="is_edit" type="submit" value="Editar Artículo" class="btn btn-success">
</form>