<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="logo" [routerLink]="['/']">
          <img src="../assets/images/angular.svg">
        </a> 
      </div>
      <div class="col-md-6 new-post-btn">
        <a [routerLink]="['/post-new']" class="btn">
          Nuevo artículo
        </a>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
</section>

<footer>

</footer>