<!-- Información del artículo -->
<h2>{{post.title}}</h2>
<p>{{post.body}}</p>
  
  
  <!-- Comentarios -->
<h4 style="margin-top: 30px;">Comentarios</h4>
<div class="card" *ngFor="let item of comments" style="margin-bottom: 10px;">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.email}}</h6>
    <p class="card-text">{{item.body}}</p>
  </div>
</div>

