header{
  background-color: #121f29;
  padding: 15px 0;
  margin-bottom: 30px;
}
header .logo img{
  width: 200px;
}
header .new-post-btn{
  text-align: right;
}
header .btn{
  color: #e13435;
  background-color: #fff;
  margin-top: 8px;
  transition-duration: 0.2s;
}
header .btn:hover{
  background-color: #e13435;
  color: #fff;
}
.card-link{
  color: #007bff !important;
  cursor: pointer;
}
.card-link:hover{
  color: #0056b3;
}
.filter{
  text-align: right;
}
@media only screen and (max-width: 767px){
  header, header .new-post-btn{
    text-align: center;
  }
  .filter{
    text-align: left;
  }
}