<div class="row">
  <div class="col-md-6">
    <h3 *ngIf="!user">{{title_page}}</h3>
    <h3 *ngIf="user">{{title_page}} <span style="color: #e13435;">{{user.name}}</span></h3>
  </div>
  <div class="col-md-6 filter">
    <span style="margin-right: 10px;">Filtrar por usuario</span>
    <!-- con (ngModelChange) pasamos el id del usuario seleccionado a la función userPosts que tenemos en el componente-->
    <select class="custom-select w-50" [(ngModel)]="selectUser" (ngModelChange)="userPosts($event)">
      <option selected value="todos">Todos</option>
      <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
    </select>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4" *ngFor="let item of posts" style="margin-bottom: 15px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a [routerLink]="['/post/',item.id]">{{(item.title.length>20)? (item.title | slice:0:20)+'...':(item.title) }}</a>
        </h5>
        <!-- Con el pipe reducimos la cantidad de texto que queremos mostrar en la vista -->
        <p class="card-text">{{(item.body.length>100)? (item.body | slice:0:100)+'...':(item.body) }}</p>
        <a [routerLink]="['/post/',item.id]" class="card-link">Ver</a>
        <a  [routerLink]="['/post-edit/',item.id]" class="card-link">Editar</a>
        <a  data-toggle="modal" href="#modal{{item.id}}" class="card-link">Eliminar</a>
        <!-- Modal para preguntar si está seguro de eliminar el artículo -->
        <div id="modal{{item.id}}" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">¿Seguro que quieres eliminar el artículo?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>No se podrá recuperar la información eliminada</p>
              </div>
              <div class="modal-footer">
                <button (click)="deletePost(item.id)" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>  